@using Insurance.Entities.Contracts

@if (Session["User"]!=null)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-group" style="color:white">
            @Html.Label(((Client)Session["User"]).Name + " - " + ((Client)Session["User"]).Role)
            <ul class="nav navbar-nav navbar-right">
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
            </ul>
        </div>    
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">     
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
